Exam-23-08-2024/Retake-Exam-Resources/Task-2/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.91.0/darwin_amd64/terraform-provider-azurerm_v3.91.0_x5
L5-intrastructure-as-code/Exercise/ex1-azure-resource-group/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.89.0/darwin_amd64/terraform-provider-azurerm_v3.89.0_x5
L5-intrastructure-as-code/Exercise/ex1-azure-resource-group/terraform.tfstate.backup
L5-intrastructure-as-code/Exercise/ex1-azure-resource-group/.terraform.lock.hcl
